:root {
  --color-black-000000: rgb(0, 0, 0);
  --color-black-00001a: rgb(0, 0, 26);
  --color-midnight-blue-000033: rgb(0, 0, 51);
  --color-midnight-blue-00004d: rgb(0, 0, 77);
  --color-midnight-blue-000066: rgb(0, 0, 102);
  --color-navy-000080: rgb(0, 0, 128);
  --color-navy-000099: rgb(0, 0, 153);
  --color-navy-0000b3: rgb(0, 0, 179);
  --color-blue-0000cc: rgb(0, 0, 204);
  --color-blue-0000e6: rgb(0, 0, 230);
  --color-blue-0000ff: rgb(0, 0, 255);
  --color-black-001a00: rgb(0, 26, 0);
  --color-black-001a1a: rgb(0, 26, 26);
  --color-black-001a33: rgb(0, 26, 51);
  --color-midnight-blue-001a4d: rgb(0, 26, 77);
  --color-midnight-blue-001a66: rgb(0, 26, 102);
  --color-midnight-blue-001a80: rgb(0, 26, 128);
  --color-navy-001a99: rgb(0, 26, 153);
  --color-navy-001ab3: rgb(0, 26, 179);
  --color-blue-001acc: rgb(0, 26, 204);
  --color-blue-001ae6: rgb(0, 26, 230);
  --color-blue-001aff: rgb(0, 26, 255);
  --color-hunter-green-003300: rgb(0, 51, 0);
  --color-hunter-green-00331a: rgb(0, 51, 26);
  --color-charcoal-003333: rgb(0, 51, 51);
  --color-charcoal-00334d: rgb(0, 51, 77);
  --color-charcoal-003366: rgb(0, 51, 102);
  --color-cobalt-003380: rgb(0, 51, 128);
  --color-cobalt-003399: rgb(0, 51, 153);
  --color-navy-0033b3: rgb(0, 51, 179);
  --color-navy-0033cc: rgb(0, 51, 204);
  --color-blue-0033e6: rgb(0, 51, 230);
  --color-blue-0033ff: rgb(0, 51, 255);
  --color-pine-004d00: rgb(0, 77, 0);
  --color-pine-004d1a: rgb(0, 77, 26);
  --color-hunter-green-004d33: rgb(0, 77, 51);
  --color-charcoal-004d4d: rgb(0, 77, 77);
  --color-charcoal-004d66: rgb(0, 77, 102);
  --color-cerulean-004d80: rgb(0, 77, 128);
  --color-cobalt-004d99: rgb(0, 77, 153);
  --color-sapphire-004db3: rgb(0, 77, 179);
  --color-sapphire-004dcc: rgb(0, 77, 204);
  --color-sapphire-004de6: rgb(0, 77, 230);
  --color-blue-004dff: rgb(0, 77, 255);
  --color-green-006600: rgb(0, 102, 0);
  --color-forest-green-00661a: rgb(0, 102, 26);
  --color-pine-006633: rgb(0, 102, 51);
  --color-pine-00664d: rgb(0, 102, 77);
  --color-teal-006666: rgb(0, 102, 102);
  --color-cerulean-006680: rgb(0, 102, 128);
  --color-cerulean-006699: rgb(0, 102, 153);
  --color-steel-blue-0066b3: rgb(0, 102, 179);
  --color-sapphire-0066cc: rgb(0, 102, 204);
  --color-sapphire-0066e6: rgb(0, 102, 230);
  --color-sapphire-0066ff: rgb(0, 102, 255);
  --color-green-008000: rgb(0, 128, 0);
  --color-forest-green-00801a: rgb(0, 128, 26);
  --color-forest-green-008033: rgb(0, 128, 51);
  --color-pine-00804d: rgb(0, 128, 77);
  --color-pine-008066: rgb(0, 128, 102);
  --color-teal-008080: rgb(0, 128, 128);
  --color-cerulean-008099: rgb(0, 128, 153);
  --color-cerulean-0080b3: rgb(0, 128, 179);
  --color-steel-blue-0080cc: rgb(0, 128, 204);
  --color-sapphire-0080e6: rgb(0, 128, 230);
  --color-sapphire-0080ff: rgb(0, 128, 255);
  --color-green-009900: rgb(0, 153, 0);
  --color-green-00991a: rgb(0, 153, 26);
  --color-forest-green-009933: rgb(0, 153, 51);
  --color-jade-00994d: rgb(0, 153, 77);
  --color-jade-009966: rgb(0, 153, 102);
  --color-teal-009980: rgb(0, 153, 128);
  --color-teal-009999: rgb(0, 153, 153);
  --color-teal-0099b3: rgb(0, 153, 179);
  --color-cerulean-0099cc: rgb(0, 153, 204);
  --color-steel-blue-0099e6: rgb(0, 153, 230);
  --color-steel-blue-0099ff: rgb(0, 153, 255);
  --color-lime-green-00b300: rgb(0, 179, 0);
  --color-lime-green-00b31a: rgb(0, 179, 26);
  --color-lime-green-00b333: rgb(0, 179, 51);
  --color-emerald-00b34d: rgb(0, 179, 77);
  --color-jade-00b366: rgb(0, 179, 102);
  --color-jade-00b380: rgb(0, 179, 128);
  --color-turquoise-00b399: rgb(0, 179, 153);
  --color-turquoise-00b3b3: rgb(0, 179, 179);
  --color-sky-blue-00b3cc: rgb(0, 179, 204);
  --color-sky-blue-00b3e6: rgb(0, 179, 230);
  --color-steel-blue-00b3ff: rgb(0, 179, 255);
  --color-lime-green-00cc00: rgb(0, 204, 0);
  --color-lime-green-00cc1a: rgb(0, 204, 26);
  --color-lime-green-00cc33: rgb(0, 204, 51);
  --color-lime-green-00cc4d: rgb(0, 204, 77);
  --color-emerald-00cc66: rgb(0, 204, 102);
  --color-emerald-00cc80: rgb(0, 204, 128);
  --color-jade-00cc99: rgb(0, 204, 153);
  --color-turquoise-00ccb3: rgb(0, 204, 179);
  --color-turquoise-00cccc: rgb(0, 204, 204);
  --color-sky-blue-00cce6: rgb(0, 204, 230);
  --color-sky-blue-00ccff: rgb(0, 204, 255);
  --color-lime-00e600: rgb(0, 230, 0);
  --color-lime-00e61a: rgb(0, 230, 26);
  --color-lime-green-00e633: rgb(0, 230, 51);
  --color-lime-green-00e64d: rgb(0, 230, 77);
  --color-lime-green-00e666: rgb(0, 230, 102);
  --color-emerald-00e680: rgb(0, 230, 128);
  --color-emerald-00e699: rgb(0, 230, 153);
  --color-turquoise-00e6b3: rgb(0, 230, 179);
  --color-turquoise-00e6cc: rgb(0, 230, 204);
  --color-cyan-00e6e6: rgb(0, 230, 230);
  --color-cyan-00e6ff: rgb(0, 230, 255);
  --color-lime-00ff00: rgb(0, 255, 0);
  --color-lime-00ff1a: rgb(0, 255, 26);
  --color-lime-00ff33: rgb(0, 255, 51);
  --color-lime-00ff4d: rgb(0, 255, 77);
  --color-lime-green-00ff66: rgb(0, 255, 102);
  --color-lime-green-00ff80: rgb(0, 255, 128);
  --color-mint-00ff99: rgb(0, 255, 153);
  --color-emerald-00ffb3: rgb(0, 255, 179);
  --color-turquoise-00ffcc: rgb(0, 255, 204);
  --color-cyan-00ffe6: rgb(0, 255, 230);
  --color-cyan-00ffff: rgb(0, 255, 255);
  --color-black-1a0000: rgb(26, 0, 0);
  --color-black-1a001a: rgb(26, 0, 26);
  --color-midnight-blue-1a0033: rgb(26, 0, 51);
  --color-midnight-blue-1a004d: rgb(26, 0, 77);
  --color-midnight-blue-1a0066: rgb(26, 0, 102);
  --color-navy-1a0080: rgb(26, 0, 128);
  --color-navy-1a0099: rgb(26, 0, 153);
  --color-navy-1a00b3: rgb(26, 0, 179);
  --color-blue-1a00cc: rgb(26, 0, 204);
  --color-blue-1a00e6: rgb(26, 0, 230);
  --color-blue-1a00ff: rgb(26, 0, 255);
  --color-black-1a1a00: rgb(26, 26, 0);
  --color-black-1a1a1a: rgb(26, 26, 26);
  --color-black-1a1a33: rgb(26, 26, 51);
  --color-midnight-blue-1a1a4d: rgb(26, 26, 77);
  --color-midnight-blue-1a1a66: rgb(26, 26, 102);
  --color-midnight-blue-1a1a80: rgb(26, 26, 128);
  --color-navy-1a1a99: rgb(26, 26, 153);
  --color-navy-1a1ab3: rgb(26, 26, 179);
  --color-blue-1a1acc: rgb(26, 26, 204);
  --color-blue-1a1ae6: rgb(26, 26, 230);
  --color-blue-1a1aff: rgb(26, 26, 255);
  --color-hunter-green-1a3300: rgb(26, 51, 0);
  --color-hunter-green-1a331a: rgb(26, 51, 26);
  --color-charcoal-1a3333: rgb(26, 51, 51);
  --color-charcoal-1a334d: rgb(26, 51, 77);
  --color-midnight-blue-1a3366: rgb(26, 51, 102);
  --color-midnight-blue-1a3380: rgb(26, 51, 128);
  --color-cobalt-1a3399: rgb(26, 51, 153);
  --color-navy-1a33b3: rgb(26, 51, 179);
  --color-navy-1a33cc: rgb(26, 51, 204);
  --color-blue-1a33e6: rgb(26, 51, 230);
  --color-blue-1a33ff: rgb(26, 51, 255);
  --color-hunter-green-1a4d00: rgb(26, 77, 0);
  --color-hunter-green-1a4d1a: rgb(26, 77, 26);
  --color-hunter-green-1a4d33: rgb(26, 77, 51);
  --color-charcoal-1a4d4d: rgb(26, 77, 77);
  --color-charcoal-1a4d66: rgb(26, 77, 102);
  --color-steel-blue-1a4d80: rgb(26, 77, 128);
  --color-cobalt-1a4d99: rgb(26, 77, 153);
  --color-cobalt-1a4db3: rgb(26, 77, 179);
  --color-sapphire-1a4dcc: rgb(26, 77, 204);
  --color-sapphire-1a4de6: rgb(26, 77, 230);
  --color-blue-1a4dff: rgb(26, 77, 255);
  --color-green-1a6600: rgb(26, 102, 0);
  --color-forest-green-1a661a: rgb(26, 102, 26);
  --color-pine-1a6633: rgb(26, 102, 51);
  --color-pine-1a664d: rgb(26, 102, 77);
  --color-teal-1a6666: rgb(26, 102, 102);
  --color-cerulean-1a6680: rgb(26, 102, 128);
  --color-cerulean-1a6699: rgb(26, 102, 153);
  --color-steel-blue-1a66b3: rgb(26, 102, 179);
  --color-sapphire-1a66cc: rgb(26, 102, 204);
  --color-sapphire-1a66e6: rgb(26, 102, 230);
  --color-sapphire-1a66ff: rgb(26, 102, 255);
  --color-green-1a8000: rgb(26, 128, 0);
  --color-forest-green-1a801a: rgb(26, 128, 26);
  --color-forest-green-1a8033: rgb(26, 128, 51);
  --color-pine-1a804d: rgb(26, 128, 77);
  --color-pine-1a8066: rgb(26, 128, 102);
  --color-teal-1a8080: rgb(26, 128, 128);
  --color-cerulean-1a8099: rgb(26, 128, 153);
  --color-cerulean-1a80b3: rgb(26, 128, 179);
  --color-steel-blue-1a80cc: rgb(26, 128, 204);
  --color-sapphire-1a80e6: rgb(26, 128, 230);
  --color-sapphire-1a80ff: rgb(26, 128, 255);
  --color-green-1a9900: rgb(26, 153, 0);
  --color-green-1a991a: rgb(26, 153, 26);
  --color-forest-green-1a9933: rgb(26, 153, 51);
  --color-jade-1a994d: rgb(26, 153, 77);
  --color-jade-1a9966: rgb(26, 153, 102);
  --color-teal-1a9980: rgb(26, 153, 128);
  --color-teal-1a9999: rgb(26, 153, 153);
  --color-cerulean-1a99b3: rgb(26, 153, 179);
  --color-cerulean-1a99cc: rgb(26, 153, 204);
  --color-steel-blue-1a99e6: rgb(26, 153, 230);
  --color-sapphire-1a99ff: rgb(26, 153, 255);
  --color-lime-green-1ab300: rgb(26, 179, 0);
  --color-lime-green-1ab31a: rgb(26, 179, 26);
  --color-lime-green-1ab333: rgb(26, 179, 51);
  --color-emerald-1ab34d: rgb(26, 179, 77);
  --color-jade-1ab366: rgb(26, 179, 102);
  --color-jade-1ab380: rgb(26, 179, 128);
  --color-turquoise-1ab399: rgb(26, 179, 153);
  --color-turquoise-1ab3b3: rgb(26, 179, 179);
  --color-sky-blue-1ab3cc: rgb(26, 179, 204);
  --color-sky-blue-1ab3e6: rgb(26, 179, 230);
  --color-steel-blue-1ab3ff: rgb(26, 179, 255);
  --color-lime-green-1acc00: rgb(26, 204, 0);
  --color-lime-green-1acc1a: rgb(26, 204, 26);
  --color-lime-green-1acc33: rgb(26, 204, 51);
  --color-lime-green-1acc4d: rgb(26, 204, 77);
  --color-emerald-1acc66: rgb(26, 204, 102);
  --color-emerald-1acc80: rgb(26, 204, 128);
  --color-jade-1acc99: rgb(26, 204, 153);
  --color-turquoise-1accb3: rgb(26, 204, 179);
  --color-turquoise-1acccc: rgb(26, 204, 204);
  --color-sky-blue-1acce6: rgb(26, 204, 230);
  --color-sky-blue-1accff: rgb(26, 204, 255);
  --color-lime-1ae600: rgb(26, 230, 0);
  --color-lime-1ae61a: rgb(26, 230, 26);
  --color-lime-green-1ae633: rgb(26, 230, 51);
  --color-lime-green-1ae64d: rgb(26, 230, 77);
  --color-lime-green-1ae666: rgb(26, 230, 102);
  --color-emerald-1ae680: rgb(26, 230, 128);
  --color-emerald-1ae699: rgb(26, 230, 153);
  --color-turquoise-1ae6b3: rgb(26, 230, 179);
  --color-turquoise-1ae6cc: rgb(26, 230, 204);
  --color-turquoise-1ae6e6: rgb(26, 230, 230);
  --color-cyan-1ae6ff: rgb(26, 230, 255);
  --color-lime-1aff00: rgb(26, 255, 0);
  --color-lime-1aff1a: rgb(26, 255, 26);
  --color-lime-1aff33: rgb(26, 255, 51);
  --color-lime-1aff4d: rgb(26, 255, 77);
  --color-lime-green-1aff66: rgb(26, 255, 102);
  --color-lime-green-1aff80: rgb(26, 255, 128);
  --color-mint-1aff99: rgb(26, 255, 153);
  --color-mint-1affb3: rgb(26, 255, 179);
  --color-turquoise-1affcc: rgb(26, 255, 204);
  --color-cyan-1affe6: rgb(26, 255, 230);
  --color-cyan-1affff: rgb(26, 255, 255);
  --color-oxblood-330000: rgb(51, 0, 0);
  --color-wine-33001a: rgb(51, 0, 26);
  --color-midnight-blue-330033: rgb(51, 0, 51);
  --color-midnight-blue-33004d: rgb(51, 0, 77);
  --color-midnight-blue-330066: rgb(51, 0, 102);
  --color-indigo-330080: rgb(51, 0, 128);
  --color-navy-330099: rgb(51, 0, 153);
  --color-navy-3300b3: rgb(51, 0, 179);
  --color-blue-3300cc: rgb(51, 0, 204);
  --color-blue-3300e6: rgb(51, 0, 230);
  --color-blue-3300ff: rgb(51, 0, 255);
  --color-black-331a00: rgb(51, 26, 0);
  --color-black-331a1a: rgb(51, 26, 26);
  --color-black-331a33: rgb(51, 26, 51);
  --color-midnight-blue-331a4d: rgb(51, 26, 77);
  --color-midnight-blue-331a66: rgb(51, 26, 102);
  --color-midnight-blue-331a80: rgb(51, 26, 128);
  --color-navy-331a99: rgb(51, 26, 153);
  --color-navy-331ab3: rgb(51, 26, 179);
  --color-navy-331acc: rgb(51, 26, 204);
  --color-blue-331ae6: rgb(51, 26, 230);
  --color-blue-331aff: rgb(51, 26, 255);
  --color-hunter-green-333300: rgb(51, 51, 0);
  --color-hunter-green-33331a: rgb(51, 51, 26);
  --color-charcoal-333333: rgb(51, 51, 51);
  --color-charcoal-33334d: rgb(51, 51, 77);
  --color-midnight-blue-333366: rgb(51, 51, 102);
  --color-midnight-blue-333380: rgb(51, 51, 128);
  --color-cobalt-333399: rgb(51, 51, 153);
  --color-navy-3333b3: rgb(51, 51, 179);
  --color-navy-3333cc: rgb(51, 51, 204);
  --color-blue-3333e6: rgb(51, 51, 230);
  --color-blue-3333ff: rgb(51, 51, 255);
  --color-hunter-green-334d00: rgb(51, 77, 0);
  --color-hunter-green-334d1a: rgb(51, 77, 26);
  --color-hunter-green-334d33: rgb(51, 77, 51);
  --color-charcoal-334d4d: rgb(51, 77, 77);
  --color-charcoal-334d66: rgb(51, 77, 102);
  --color-steel-blue-334d80: rgb(51, 77, 128);
  --color-cobalt-334d99: rgb(51, 77, 153);
  --color-cobalt-334db3: rgb(51, 77, 179);
  --color-sapphire-334dcc: rgb(51, 77, 204);
  --color-sapphire-334de6: rgb(51, 77, 230);
  --color-blue-334dff: rgb(51, 77, 255);
  --color-forest-green-336600: rgb(51, 102, 0);
  --color-pine-33661a: rgb(51, 102, 26);
  --color-pine-336633: rgb(51, 102, 51);
  --color-hunter-green-33664d: rgb(51, 102, 77);
  --color-teal-336666: rgb(51, 102, 102);
  --color-cerulean-336680: rgb(51, 102, 128);
  --color-steel-blue-336699: rgb(51, 102, 153);
  --color-sapphire-3366b3: rgb(51, 102, 179);
  --color-sapphire-3366cc: rgb(51, 102, 204);
  --color-sapphire-3366e6: rgb(51, 102, 230);
  --color-sapphire-3366ff: rgb(51, 102, 255);
  --color-green-338000: rgb(51, 128, 0);
  --color-forest-green-33801a: rgb(51, 128, 26);
  --color-forest-green-338033: rgb(51, 128, 51);
  --color-pine-33804d: rgb(51, 128, 77);
  --color-pine-338066: rgb(51, 128, 102);
  --color-teal-338080: rgb(51, 128, 128);
  --color-cerulean-338099: rgb(51, 128, 153);
  --color-steel-blue-3380b3: rgb(51, 128, 179);
  --color-steel-blue-3380cc: rgb(51, 128, 204);
  --color-sapphire-3380e6: rgb(51, 128, 230);
  --color-sapphire-3380ff: rgb(51, 128, 255);
  --color-green-339900: rgb(51, 153, 0);
  --color-forest-green-33991a: rgb(51, 153, 26);
  --color-forest-green-339933: rgb(51, 153, 51);
  --color-jade-33994d: rgb(51, 153, 77);
  --color-jade-339966: rgb(51, 153, 102);
  --color-teal-339980: rgb(51, 153, 128);
  --color-teal-339999: rgb(51, 153, 153);
  --color-cerulean-3399b3: rgb(51, 153, 179);
  --color-steel-blue-3399cc: rgb(51, 153, 204);
  --color-steel-blue-3399e6: rgb(51, 153, 230);
  --color-sapphire-3399ff: rgb(51, 153, 255);
  --color-lime-green-33b300: rgb(51, 179, 0);
  --color-lime-green-33b31a: rgb(51, 179, 26);
  --color-lime-green-33b333: rgb(51, 179, 51);
  --color-emerald-33b34d: rgb(51, 179, 77);
  --color-emerald-33b366: rgb(51, 179, 102);
  --color-jade-33b380: rgb(51, 179, 128);
  --color-turquoise-33b399: rgb(51, 179, 153);
  --color-teal-33b3b3: rgb(51, 179, 179);
  --color-sky-blue-33b3cc: rgb(51, 179, 204);
  --color-sky-blue-33b3e6: rgb(51, 179, 230);
  --color-steel-blue-33b3ff: rgb(51, 179, 255);
  --color-lime-green-33cc00: rgb(51, 204, 0);
  --color-lime-green-33cc1a: rgb(51, 204, 26);
  --color-lime-green-33cc33: rgb(51, 204, 51);
  --color-lime-green-33cc4d: rgb(51, 204, 77);
  --color-emerald-33cc66: rgb(51, 204, 102);
  --color-emerald-33cc80: rgb(51, 204, 128);
  --color-jade-33cc99: rgb(51, 204, 153);
  --color-turquoise-33ccb3: rgb(51, 204, 179);
  --color-turquoise-33cccc: rgb(51, 204, 204);
  --color-sky-blue-33cce6: rgb(51, 204, 230);
  --color-sky-blue-33ccff: rgb(51, 204, 255);
  --color-lime-33e600: rgb(51, 230, 0);
  --color-lime-33e61a: rgb(51, 230, 26);
  --color-lime-green-33e633: rgb(51, 230, 51);
  --color-lime-green-33e64d: rgb(51, 230, 77);
  --color-lime-green-33e666: rgb(51, 230, 102);
  --color-emerald-33e680: rgb(51, 230, 128);
  --color-emerald-33e699: rgb(51, 230, 153);
  --color-turquoise-33e6b3: rgb(51, 230, 179);
  --color-turquoise-33e6cc: rgb(51, 230, 204);
  --color-turquoise-33e6e6: rgb(51, 230, 230);
  --color-cyan-33e6ff: rgb(51, 230, 255);
  --color-lime-33ff00: rgb(51, 255, 0);
  --color-lime-33ff1a: rgb(51, 255, 26);
  --color-lime-33ff33: rgb(51, 255, 51);
  --color-lime-33ff4d: rgb(51, 255, 77);
  --color-lime-green-33ff66: rgb(51, 255, 102);
  --color-lime-green-33ff80: rgb(51, 255, 128);
  --color-mint-33ff99: rgb(51, 255, 153);
  --color-mint-33ffb3: rgb(51, 255, 179);
  --color-turquoise-33ffcc: rgb(51, 255, 204);
  --color-turquoise-33ffe6: rgb(51, 255, 230);
  --color-cyan-33ffff: rgb(51, 255, 255);
  --color-oxblood-4d0000: rgb(77, 0, 0);
  --color-wine-4d001a: rgb(77, 0, 26);
  --color-wine-4d0033: rgb(77, 0, 51);
  --color-purple-4d004d: rgb(77, 0, 77);
  --color-indigo-4d0066: rgb(77, 0, 102);
  --color-indigo-4d0080: rgb(77, 0, 128);
  --color-indigo-4d0099: rgb(77, 0, 153);
  --color-navy-4d00b3: rgb(77, 0, 179);
  --color-blue-4d00cc: rgb(77, 0, 204);
  --color-blue-4d00e6: rgb(77, 0, 230);
  --color-blue-4d00ff: rgb(77, 0, 255);
  --color-oxblood-4d1a00: rgb(77, 26, 0);
  --color-wine-4d1a1a: rgb(77, 26, 26);
  --color-wine-4d1a33: rgb(77, 26, 51);
  --color-midnight-blue-4d1a4d: rgb(77, 26, 77);
  --color-midnight-blue-4d1a66: rgb(77, 26, 102);
  --color-indigo-4d1a80: rgb(77, 26, 128);
  --color-indigo-4d1a99: rgb(77, 26, 153);
  --color-navy-4d1ab3: rgb(77, 26, 179);
  --color-navy-4d1acc: rgb(77, 26, 204);
  --color-blue-4d1ae6: rgb(77, 26, 230);
  --color-blue-4d1aff: rgb(77, 26, 255);
  --color-sienna-4d3300: rgb(77, 51, 0);
  --color-taupe-4d331a: rgb(77, 51, 26);
  --color-charcoal-4d3333: rgb(77, 51, 51);
  --color-charcoal-4d334d: rgb(77, 51, 77);
  --color-midnight-blue-4d3366: rgb(77, 51, 102);
  --color-midnight-blue-4d3380: rgb(77, 51, 128);
  --color-midnight-blue-4d3399: rgb(77, 51, 153);
  --color-indigo-4d33b3: rgb(77, 51, 179);
  --color-navy-4d33cc: rgb(77, 51, 204);
  --color-blue-4d33e6: rgb(77, 51, 230);
  --color-blue-4d33ff: rgb(77, 51, 255);
  --color-olive-4d4d00: rgb(77, 77, 0);
  --color-hunter-green-4d4d1a: rgb(77, 77, 26);
  --color-hunter-green-4d4d33: rgb(77, 77, 51);
  --color-charcoal-4d4d4d: rgb(77, 77, 77);
  --color-charcoal-4d4d66: rgb(77, 77, 102);
  --color-steel-blue-4d4d80: rgb(77, 77, 128);
  --color-cobalt-4d4d99: rgb(77, 77, 153);
  --color-cobalt-4d4db3: rgb(77, 77, 179);
  --color-sapphire-4d4dcc: rgb(77, 77, 204);
  --color-sapphire-4d4de6: rgb(77, 77, 230);
  --color-blue-4d4dff: rgb(77, 77, 255);
  --color-olive-4d6600: rgb(77, 102, 0);
  --color-hunter-green-4d661a: rgb(77, 102, 26);
  --color-hunter-green-4d6633: rgb(77, 102, 51);
  --color-hunter-green-4d664d: rgb(77, 102, 77);
  --color-charcoal-4d6666: rgb(77, 102, 102);
  --color-slate-4d6680: rgb(77, 102, 128);
  --color-steel-blue-4d6699: rgb(77, 102, 153);
  --color-sapphire-4d66b3: rgb(77, 102, 179);
  --color-sapphire-4d66cc: rgb(77, 102, 204);
  --color-sapphire-4d66e6: rgb(77, 102, 230);
  --color-sapphire-4d66ff: rgb(77, 102, 255);
  --color-forest-green-4d8000: rgb(77, 128, 0);
  --color-forest-green-4d801a: rgb(77, 128, 26);
  --color-forest-green-4d8033: rgb(77, 128, 51);
  --color-pine-4d804d: rgb(77, 128, 77);
  --color-pine-4d8066: rgb(77, 128, 102);
  --color-teal-4d8080: rgb(77, 128, 128);
  --color-slate-4d8099: rgb(77, 128, 153);
  --color-steel-blue-4d80b3: rgb(77, 128, 179);
  --color-steel-blue-4d80cc: rgb(77, 128, 204);
  --color-sapphire-4d80e6: rgb(77, 128, 230);
  --color-sapphire-4d80ff: rgb(77, 128, 255);
  --color-green-4d9900: rgb(77, 153, 0);
  --color-forest-green-4d991a: rgb(77, 153, 26);
  --color-forest-green-4d9933: rgb(77, 153, 51);
  --color-jade-4d994d: rgb(77, 153, 77);
  --color-jade-4d9966: rgb(77, 153, 102);
  --color-teal-4d9980: rgb(77, 153, 128);
  --color-teal-4d9999: rgb(77, 153, 153);
  --color-cerulean-4d99b3: rgb(77, 153, 179);
  --color-steel-blue-4d99cc: rgb(77, 153, 204);
  --color-steel-blue-4d99e6: rgb(77, 153, 230);
  --color-sapphire-4d99ff: rgb(77, 153, 255);
  --color-lime-green-4db300: rgb(77, 179, 0);
  --color-lime-green-4db31a: rgb(77, 179, 26);
  --color-forest-green-4db333: rgb(77, 179, 51);
  --color-emerald-4db34d: rgb(77, 179, 77);
  --color-emerald-4db366: rgb(77, 179, 102);
  --color-jade-4db380: rgb(77, 179, 128);
  --color-turquoise-4db399: rgb(77, 179, 153);
  --color-teal-4db3b3: rgb(77, 179, 179);
  --color-sky-blue-4db3cc: rgb(77, 179, 204);
  --color-sky-blue-4db3e6: rgb(77, 179, 230);
  --color-steel-blue-4db3ff: rgb(77, 179, 255);
  --color-lime-green-4dcc00: rgb(77, 204, 0);
  --color-lime-green-4dcc1a: rgb(77, 204, 26);
  --color-lime-green-4dcc33: rgb(77, 204, 51);
  --color-lime-green-4dcc4d: rgb(77, 204, 77);
  --color-emerald-4dcc66: rgb(77, 204, 102);
  --color-emerald-4dcc80: rgb(77, 204, 128);
  --color-jade-4dcc99: rgb(77, 204, 153);
  --color-turquoise-4dccb3: rgb(77, 204, 179);
  --color-turquoise-4dcccc: rgb(77, 204, 204);
  --color-sky-blue-4dcce6: rgb(77, 204, 230);
  --color-sky-blue-4dccff: rgb(77, 204, 255);
  --color-chartreuse-4de600: rgb(77, 230, 0);
  --color-chartreuse-4de61a: rgb(77, 230, 26);
  --color-lime-green-4de633: rgb(77, 230, 51);
  --color-lime-green-4de64d: rgb(77, 230, 77);
  --color-lime-green-4de666: rgb(77, 230, 102);
  --color-mint-4de680: rgb(77, 230, 128);
  --color-emerald-4de699: rgb(77, 230, 153);
  --color-turquoise-4de6b3: rgb(77, 230, 179);
  --color-turquoise-4de6cc: rgb(77, 230, 204);
  --color-turquoise-4de6e6: rgb(77, 230, 230);
  --color-sky-blue-4de6ff: rgb(77, 230, 255);
  --color-lime-4dff00: rgb(77, 255, 0);
  --color-lime-4dff1a: rgb(77, 255, 26);
  --color-lime-4dff33: rgb(77, 255, 51);
  --color-lime-4dff4d: rgb(77, 255, 77);
  --color-lime-green-4dff66: rgb(77, 255, 102);
  --color-lime-green-4dff80: rgb(77, 255, 128);
  --color-mint-4dff99: rgb(77, 255, 153);
  --color-mint-4dffb3: rgb(77, 255, 179);
  --color-turquoise-4dffcc: rgb(77, 255, 204);
  --color-turquoise-4dffe6: rgb(77, 255, 230);
  --color-cyan-4dffff: rgb(77, 255, 255);
  --color-oxblood-660000: rgb(102, 0, 0);
  --color-oxblood-66001a: rgb(102, 0, 26);
  --color-wine-660033: rgb(102, 0, 51);
  --color-purple-66004d: rgb(102, 0, 77);
  --color-purple-660066: rgb(102, 0, 102);
  --color-purple-660080: rgb(102, 0, 128);
  --color-indigo-660099: rgb(102, 0, 153);
  --color-indigo-6600b3: rgb(102, 0, 179);
  --color-blue-6600cc: rgb(102, 0, 204);
  --color-blue-6600e6: rgb(102, 0, 230);
  --color-blue-6600ff: rgb(102, 0, 255);
  --color-oxblood-661a00: rgb(102, 26, 0);
  --color-oxblood-661a1a: rgb(102, 26, 26);
  --color-wine-661a33: rgb(102, 26, 51);
  --color-wine-661a4d: rgb(102, 26, 77);
  --color-purple-661a66: rgb(102, 26, 102);
  --color-purple-661a80: rgb(102, 26, 128);
  --color-indigo-661a99: rgb(102, 26, 153);
  --color-indigo-661ab3: rgb(102, 26, 179);
  --color-indigo-661acc: rgb(102, 26, 204);
  --color-blue-661ae6: rgb(102, 26, 230);
  --color-blue-661aff: rgb(102, 26, 255);
  --color-sienna-663300: rgb(102, 51, 0);
  --color-sienna-66331a: rgb(102, 51, 26);
  --color-wine-663333: rgb(102, 51, 51);
  --color-wine-66334d: rgb(102, 51, 77);
  --color-purple-663366: rgb(102, 51, 102);
  --color-midnight-blue-663380: rgb(102, 51, 128);
  --color-indigo-663399: rgb(102, 51, 153);
  --color-indigo-6633b3: rgb(102, 51, 179);
  --color-indigo-6633cc: rgb(102, 51, 204);
  --color-blue-6633e6: rgb(102, 51, 230);
  --color-blue-6633ff: rgb(102, 51, 255);
  --color-copper-664d00: rgb(102, 77, 0);
  --color-sienna-664d1a: rgb(102, 77, 26);
  --color-taupe-664d33: rgb(102, 77, 51);
  --color-charcoal-664d4d: rgb(102, 77, 77);
  --color-charcoal-664d66: rgb(102, 77, 102);
  --color-steel-blue-664d80: rgb(102, 77, 128);
  --color-cobalt-664d99: rgb(102, 77, 153);
  --color-cobalt-664db3: rgb(102, 77, 179);
  --color-sapphire-664dcc: rgb(102, 77, 204);
  --color-indigo-664de6: rgb(102, 77, 230);
  --color-blue-664dff: rgb(102, 77, 255);
  --color-olive-666600: rgb(102, 102, 0);
  --color-olive-66661a: rgb(102, 102, 26);
  --color-hunter-green-666633: rgb(102, 102, 51);
  --color-taupe-66664d: rgb(102, 102, 77);
  --color-grey-666666: rgb(102, 102, 102);
  --color-slate-666680: rgb(102, 102, 128);
  --color-steel-blue-666699: rgb(102, 102, 153);
  --color-sapphire-6666b3: rgb(102, 102, 179);
  --color-sapphire-6666cc: rgb(102, 102, 204);
  --color-sapphire-6666e6: rgb(102, 102, 230);
  --color-sapphire-6666ff: rgb(102, 102, 255);
  --color-olive-668000: rgb(102, 128, 0);
  --color-olive-66801a: rgb(102, 128, 26);
  --color-olive-668033: rgb(102, 128, 51);
  --color-hunter-green-66804d: rgb(102, 128, 77);
  --color-hunter-green-668066: rgb(102, 128, 102);
  --color-grey-668080: rgb(102, 128, 128);
  --color-slate-668099: rgb(102, 128, 153);
  --color-steel-blue-6680b3: rgb(102, 128, 179);
  --color-steel-blue-6680cc: rgb(102, 128, 204);
  --color-sapphire-6680e6: rgb(102, 128, 230);
  --color-sapphire-6680ff: rgb(102, 128, 255);
  --color-yellow-green-669900: rgb(102, 153, 0);
  --color-forest-green-66991a: rgb(102, 153, 26);
  --color-forest-green-669933: rgb(102, 153, 51);
  --color-forest-green-66994d: rgb(102, 153, 77);
  --color-pine-669966: rgb(102, 153, 102);
  --color-teal-669980: rgb(102, 153, 128);
  --color-teal-669999: rgb(102, 153, 153);
  --color-slate-6699b3: rgb(102, 153, 179);
  --color-steel-blue-6699cc: rgb(102, 153, 204);
  --color-steel-blue-6699e6: rgb(102, 153, 230);
  --color-sapphire-6699ff: rgb(102, 153, 255);
  --color-yellow-green-66b300: rgb(102, 179, 0);
  --color-yellow-green-66b31a: rgb(102, 179, 26);
  --color-yellow-green-66b333: rgb(102, 179, 51);
  --color-forest-green-66b34d: rgb(102, 179, 77);
  --color-emerald-66b366: rgb(102, 179, 102);
  --color-jade-66b380: rgb(102, 179, 128);
  --color-turquoise-66b399: rgb(102, 179, 153);
  --color-sky-blue-66b3b3: rgb(102, 179, 179);
  --color-sky-blue-66b3cc: rgb(102, 179, 204);
  --color-sky-blue-66b3e6: rgb(102, 179, 230);
  --color-steel-blue-66b3ff: rgb(102, 179, 255);
  --color-lime-green-66cc00: rgb(102, 204, 0);
  --color-lime-green-66cc1a: rgb(102, 204, 26);
  --color-lime-green-66cc33: rgb(102, 204, 51);
  --color-lime-green-66cc4d: rgb(102, 204, 77);
  --color-emerald-66cc66: rgb(102, 204, 102);
  --color-emerald-66cc80: rgb(102, 204, 128);
  --color-emerald-66cc99: rgb(102, 204, 153);
  --color-turquoise-66ccb3: rgb(102, 204, 179);
  --color-turquoise-66cccc: rgb(102, 204, 204);
  --color-sky-blue-66cce6: rgb(102, 204, 230);
  --color-sky-blue-66ccff: rgb(102, 204, 255);
  --color-chartreuse-66e600: rgb(102, 230, 0);
  --color-chartreuse-66e61a: rgb(102, 230, 26);
  --color-lime-green-66e633: rgb(102, 230, 51);
  --color-lime-green-66e64d: rgb(102, 230, 77);
  --color-lime-green-66e666: rgb(102, 230, 102);
  --color-mint-66e680: rgb(102, 230, 128);
  --color-emerald-66e699: rgb(102, 230, 153);
  --color-turquoise-66e6b3: rgb(102, 230, 179);
  --color-turquoise-66e6cc: rgb(102, 230, 204);
  --color-turquoise-66e6e6: rgb(102, 230, 230);
  --color-sky-blue-66e6ff: rgb(102, 230, 255);
  --color-chartreuse-66ff00: rgb(102, 255, 0);
  --color-chartreuse-66ff1a: rgb(102, 255, 26);
  --color-chartreuse-66ff33: rgb(102, 255, 51);
  --color-chartreuse-66ff4d: rgb(102, 255, 77);
  --color-lime-green-66ff66: rgb(102, 255, 102);
  --color-mint-66ff80: rgb(102, 255, 128);
  --color-mint-66ff99: rgb(102, 255, 153);
  --color-mint-66ffb3: rgb(102, 255, 179);
  --color-turquoise-66ffcc: rgb(102, 255, 204);
  --color-turquoise-66ffe6: rgb(102, 255, 230);
  --color-cyan-66ffff: rgb(102, 255, 255);
  --color-maroon-800000: rgb(128, 0, 0);
  --color-burgundy-80001a: rgb(128, 0, 26);
  --color-wine-800033: rgb(128, 0, 51);
  --color-wine-80004d: rgb(128, 0, 77);
  --color-purple-800066: rgb(128, 0, 102);
  --color-purple-800080: rgb(128, 0, 128);
  --color-purple-800099: rgb(128, 0, 153);
  --color-indigo-8000b3: rgb(128, 0, 179);
  --color-indigo-8000cc: rgb(128, 0, 204);
  --color-blue-8000e6: rgb(128, 0, 230);
  --color-blue-8000ff: rgb(128, 0, 255);
  --color-maroon-801a00: rgb(128, 26, 0);
  --color-burgundy-801a1a: rgb(128, 26, 26);
  --color-wine-801a33: rgb(128, 26, 51);
  --color-wine-801a4d: rgb(128, 26, 77);
  --color-purple-801a66: rgb(128, 26, 102);
  --color-purple-801a80: rgb(128, 26, 128);
  --color-purple-801a99: rgb(128, 26, 153);
  --color-indigo-801ab3: rgb(128, 26, 179);
  --color-indigo-801acc: rgb(128, 26, 204);
  --color-blue-801ae6: rgb(128, 26, 230);
  --color-blue-801aff: rgb(128, 26, 255);
  --color-sienna-803300: rgb(128, 51, 0);
  --color-sienna-80331a: rgb(128, 51, 26);
  --color-wine-803333: rgb(128, 51, 51);
  --color-wine-80334d: rgb(128, 51, 77);
  --color-wine-803366: rgb(128, 51, 102);
  --color-purple-803380: rgb(128, 51, 128);
  --color-purple-803399: rgb(128, 51, 153);
  --color-indigo-8033b3: rgb(128, 51, 179);
  --color-indigo-8033cc: rgb(128, 51, 204);
  --color-blue-8033e6: rgb(128, 51, 230);
  --color-blue-8033ff: rgb(128, 51, 255);
  --color-sienna-804d00: rgb(128, 77, 0);
  --color-sienna-804d1a: rgb(128, 77, 26);
  --color-sienna-804d33: rgb(128, 77, 51);
  --color-taupe-804d4d: rgb(128, 77, 77);
  --color-wine-804d66: rgb(128, 77, 102);
  --color-lilac-804d80: rgb(128, 77, 128);
  --color-purple-804d99: rgb(128, 77, 153);
  --color-purple-804db3: rgb(128, 77, 179);
  --color-indigo-804dcc: rgb(128, 77, 204);
  --color-indigo-804de6: rgb(128, 77, 230);
  --color-blue-804dff: rgb(128, 77, 255);
  --color-olive-806600: rgb(128, 102, 0);
  --color-olive-80661a: rgb(128, 102, 26);
  --color-taupe-806633: rgb(128, 102, 51);
  --color-taupe-80664d: rgb(128, 102, 77);
  --color-taupe-806666: rgb(128, 102, 102);
  --color-slate-806680: rgb(128, 102, 128);
  --color-lilac-806699: rgb(128, 102, 153);
  --color-sapphire-8066b3: rgb(128, 102, 179);
  --color-sapphire-8066cc: rgb(128, 102, 204);
  --color-sapphire-8066e6: rgb(128, 102, 230);
  --color-sapphire-8066ff: rgb(128, 102, 255);
  --color-olive-808000: rgb(128, 128, 0);
  --color-olive-80801a: rgb(128, 128, 26);
  --color-olive-808033: rgb(128, 128, 51);
  --color-taupe-80804d: rgb(128, 128, 77);
  --color-taupe-808066: rgb(128, 128, 102);
  --color-grey-808080: rgb(128, 128, 128);
  --color-slate-808099: rgb(128, 128, 153);
  --color-steel-blue-8080b3: rgb(128, 128, 179);
  --color-steel-blue-8080cc: rgb(128, 128, 204);
  --color-sapphire-8080e6: rgb(128, 128, 230);
  --color-sapphire-8080ff: rgb(128, 128, 255);
  --color-olive-809900: rgb(128, 153, 0);
  --color-olive-80991a: rgb(128, 153, 26);
  --color-olive-809933: rgb(128, 153, 51);
  --color-olive-80994d: rgb(128, 153, 77);
  --color-sage-809966: rgb(128, 153, 102);
  --color-sage-809980: rgb(128, 153, 128);
  --color-grey-809999: rgb(128, 153, 153);
  --color-slate-8099b3: rgb(128, 153, 179);
  --color-steel-blue-8099cc: rgb(128, 153, 204);
  --color-steel-blue-8099e6: rgb(128, 153, 230);
  --color-sapphire-8099ff: rgb(128, 153, 255);
  --color-yellow-green-80b300: rgb(128, 179, 0);
  --color-yellow-green-80b31a: rgb(128, 179, 26);
  --color-yellow-green-80b333: rgb(128, 179, 51);
  --color-forest-green-80b34d: rgb(128, 179, 77);
  --color-emerald-80b366: rgb(128, 179, 102);
  --color-sage-80b380: rgb(128, 179, 128);
  --color-sage-80b399: rgb(128, 179, 153);
  --color-ash-80b3b3: rgb(128, 179, 179);
  --color-sky-blue-80b3cc: rgb(128, 179, 204);
  --color-sky-blue-80b3e6: rgb(128, 179, 230);
  --color-periwinkle-80b3ff: rgb(128, 179, 255);
  --color-yellow-green-80cc00: rgb(128, 204, 0);
  --color-yellow-green-80cc1a: rgb(128, 204, 26);
  --color-yellow-green-80cc33: rgb(128, 204, 51);
  --color-yellow-green-80cc4d: rgb(128, 204, 77);
  --color-emerald-80cc66: rgb(128, 204, 102);
  --color-emerald-80cc80: rgb(128, 204, 128);
  --color-emerald-80cc99: rgb(128, 204, 153);
  --color-turquoise-80ccb3: rgb(128, 204, 179);
  --color-powder-blue-80cccc: rgb(128, 204, 204);
  --color-sky-blue-80cce6: rgb(128, 204, 230);
  --color-sky-blue-80ccff: rgb(128, 204, 255);
  --color-chartreuse-80e600: rgb(128, 230, 0);
  --color-chartreuse-80e61a: rgb(128, 230, 26);
  --color-lime-green-80e633: rgb(128, 230, 51);
  --color-lime-green-80e64d: rgb(128, 230, 77);
  --color-mint-80e666: rgb(128, 230, 102);
  --color-mint-80e680: rgb(128, 230, 128);
  --color-emerald-80e699: rgb(128, 230, 153);
  --color-turquoise-80e6b3: rgb(128, 230, 179);
  --color-turquoise-80e6cc: rgb(128, 230, 204);
  --color-turquoise-80e6e6: rgb(128, 230, 230);
  --color-sky-blue-80e6ff: rgb(128, 230, 255);
  --color-chartreuse-80ff00: rgb(128, 255, 0);
  --color-chartreuse-80ff1a: rgb(128, 255, 26);
  --color-chartreuse-80ff33: rgb(128, 255, 51);
  --color-chartreuse-80ff4d: rgb(128, 255, 77);
  --color-lime-green-80ff66: rgb(128, 255, 102);
  --color-mint-80ff80: rgb(128, 255, 128);
  --color-mint-80ff99: rgb(128, 255, 153);
  --color-mint-80ffb3: rgb(128, 255, 179);
  --color-turquoise-80ffcc: rgb(128, 255, 204);
  --color-turquoise-80ffe6: rgb(128, 255, 230);
  --color-cyan-80ffff: rgb(128, 255, 255);
  --color-crimson-990000: rgb(153, 0, 0);
  --color-brown-99001a: rgb(153, 0, 26);
  --color-burgundy-990033: rgb(153, 0, 51);
  --color-wine-99004d: rgb(153, 0, 77);
  --color-purple-990066: rgb(153, 0, 102);
  --color-purple-990080: rgb(153, 0, 128);
  --color-purple-990099: rgb(153, 0, 153);
  --color-purple-9900b3: rgb(153, 0, 179);
  --color-magenta-9900cc: rgb(153, 0, 204);
  --color-magenta-9900e6: rgb(153, 0, 230);
  --color-blue-9900ff: rgb(153, 0, 255);
  --color-maroon-991a00: rgb(153, 26, 0);
  --color-brown-991a1a: rgb(153, 26, 26);
  --color-burgundy-991a33: rgb(153, 26, 51);
  --color-wine-991a4d: rgb(153, 26, 77);
  --color-purple-991a66: rgb(153, 26, 102);
  --color-purple-991a80: rgb(153, 26, 128);
  --color-purple-991a99: rgb(153, 26, 153);
  --color-purple-991ab3: rgb(153, 26, 179);
  --color-indigo-991acc: rgb(153, 26, 204);
  --color-magenta-991ae6: rgb(153, 26, 230);
  --color-blue-991aff: rgb(153, 26, 255);
  --color-rust-993300: rgb(153, 51, 0);
  --color-brown-99331a: rgb(153, 51, 26);
  --color-brown-993333: rgb(153, 51, 51);
  --color-wine-99334d: rgb(153, 51, 77);
  --color-wine-993366: rgb(153, 51, 102);
  --color-purple-993380: rgb(153, 51, 128);
  --color-purple-993399: rgb(153, 51, 153);
  --color-purple-9933b3: rgb(153, 51, 179);
  --color-indigo-9933cc: rgb(153, 51, 204);
  --color-magenta-9933e6: rgb(153, 51, 230);
  --color-blue-9933ff: rgb(153, 51, 255);
  --color-sienna-994d00: rgb(153, 77, 0);
  --color-sienna-994d1a: rgb(153, 77, 26);
  --color-sienna-994d33: rgb(153, 77, 51);
  --color-wine-994d4d: rgb(153, 77, 77);
  --color-wine-994d66: rgb(153, 77, 102);
  --color-plum-994d80: rgb(153, 77, 128);
  --color-orchid-994d99: rgb(153, 77, 153);
  --color-orchid-994db3: rgb(153, 77, 179);
  --color-orchid-994dcc: rgb(153, 77, 204);
  --color-indigo-994de6: rgb(153, 77, 230);
  --color-magenta-994dff: rgb(153, 77, 255);
  --color-copper-996600: rgb(153, 102, 0);
  --color-copper-99661a: rgb(153, 102, 26);
  --color-copper-996633: rgb(153, 102, 51);
  --color-taupe-99664d: rgb(153, 102, 77);
  --color-taupe-996666: rgb(153, 102, 102);
  --color-lilac-996680: rgb(153, 102, 128);
  --color-lilac-996699: rgb(153, 102, 153);
  --color-orchid-9966b3: rgb(153, 102, 179);
  --color-orchid-9966cc: rgb(153, 102, 204);
  --color-orchid-9966e6: rgb(153, 102, 230);
  --color-violet-9966ff: rgb(153, 102, 255);
  --color-olive-998000: rgb(153, 128, 0);
  --color-olive-99801a: rgb(153, 128, 26);
  --color-olive-998033: rgb(153, 128, 51);
  --color-sand-99804d: rgb(153, 128, 77);
  --color-taupe-998066: rgb(153, 128, 102);
  --color-taupe-998080: rgb(153, 128, 128);
  --color-lilac-998099: rgb(153, 128, 153);
  --color-lilac-9980b3: rgb(153, 128, 179);
  --color-plum-9980cc: rgb(153, 128, 204);
  --color-orchid-9980e6: rgb(153, 128, 230);
  --color-sapphire-9980ff: rgb(153, 128, 255);
  --color-olive-999900: rgb(153, 153, 0);
  --color-olive-99991a: rgb(153, 153, 26);
  --color-olive-999933: rgb(153, 153, 51);
  --color-sand-99994d: rgb(153, 153, 77);
  --color-sand-999966: rgb(153, 153, 102);
  --color-ecru-999980: rgb(153, 153, 128);
  --color-grey-999999: rgb(153, 153, 153);
  --color-slate-9999b3: rgb(153, 153, 179);
  --color-lilac-9999cc: rgb(153, 153, 204);
  --color-periwinkle-9999e6: rgb(153, 153, 230);
  --color-plum-9999ff: rgb(153, 153, 255);
  --color-yellow-green-99b300: rgb(153, 179, 0);
  --color-yellow-green-99b31a: rgb(153, 179, 26);
  --color-yellow-green-99b333: rgb(153, 179, 51);
  --color-olive-99b34d: rgb(153, 179, 77);
  --color-sage-99b366: rgb(153, 179, 102);
  --color-sage-99b380: rgb(153, 179, 128);
  --color-sage-99b399: rgb(153, 179, 153);
  --color-ash-99b3b3: rgb(153, 179, 179);
  --color-sky-blue-99b3cc: rgb(153, 179, 204);
  --color-periwinkle-99b3e6: rgb(153, 179, 230);
  --color-periwinkle-99b3ff: rgb(153, 179, 255);
  --color-yellow-green-99cc00: rgb(153, 204, 0);
  --color-yellow-green-99cc1a: rgb(153, 204, 26);
  --color-yellow-green-99cc33: rgb(153, 204, 51);
  --color-yellow-green-99cc4d: rgb(153, 204, 77);
  --color-yellow-green-99cc66: rgb(153, 204, 102);
  --color-emerald-99cc80: rgb(153, 204, 128);
  --color-sage-99cc99: rgb(153, 204, 153);
  --color-ash-99ccb3: rgb(153, 204, 179);
  --color-powder-blue-99cccc: rgb(153, 204, 204);
  --color-sky-blue-99cce6: rgb(153, 204, 230);
  --color-sky-blue-99ccff: rgb(153, 204, 255);
  --color-chartreuse-99e600: rgb(153, 230, 0);
  --color-yellow-green-99e61a: rgb(153, 230, 26);
  --color-yellow-green-99e633: rgb(153, 230, 51);
  --color-yellow-green-99e64d: rgb(153, 230, 77);
  --color-yellow-green-99e666: rgb(153, 230, 102);
  --color-mint-99e680: rgb(153, 230, 128);
  --color-mint-99e699: rgb(153, 230, 153);
  --color-sage-99e6b3: rgb(153, 230, 179);
  --color-turquoise-99e6cc: rgb(153, 230, 204);
  --color-powder-blue-99e6e6: rgb(153, 230, 230);
  --color-sky-blue-99e6ff: rgb(153, 230, 255);
  --color-chartreuse-99ff00: rgb(153, 255, 0);
  --color-chartreuse-99ff1a: rgb(153, 255, 26);
  --color-chartreuse-99ff33: rgb(153, 255, 51);
  --color-chartreuse-99ff4d: rgb(153, 255, 77);
  --color-lime-green-99ff66: rgb(153, 255, 102);
  --color-mint-99ff80: rgb(153, 255, 128);
  --color-mint-99ff99: rgb(153, 255, 153);
  --color-mint-99ffb3: rgb(153, 255, 179);
  --color-turquoise-99ffcc: rgb(153, 255, 204);
  --color-turquoise-99ffe6: rgb(153, 255, 230);
  --color-powder-blue-99ffff: rgb(153, 255, 255);
  --color-crimson-b30000: rgb(179, 0, 0);
  --color-crimson-b3001a: rgb(179, 0, 26);
  --color-brown-b30033: rgb(179, 0, 51);
  --color-ruby-b3004d: rgb(179, 0, 77);
  --color-ruby-b30066: rgb(179, 0, 102);
  --color-purple-b30080: rgb(179, 0, 128);
  --color-purple-b30099: rgb(179, 0, 153);
  --color-purple-b300b3: rgb(179, 0, 179);
  --color-magenta-b300cc: rgb(179, 0, 204);
  --color-magenta-b300e6: rgb(179, 0, 230);
  --color-magenta-b300ff: rgb(179, 0, 255);
  --color-mahogany-b31a00: rgb(179, 26, 0);
  --color-crimson-b31a1a: rgb(179, 26, 26);
  --color-brown-b31a33: rgb(179, 26, 51);
  --color-ruby-b31a4d: rgb(179, 26, 77);
  --color-ruby-b31a66: rgb(179, 26, 102);
  --color-purple-b31a80: rgb(179, 26, 128);
  --color-purple-b31a99: rgb(179, 26, 153);
  --color-purple-b31ab3: rgb(179, 26, 179);
  --color-magenta-b31acc: rgb(179, 26, 204);
  --color-magenta-b31ae6: rgb(179, 26, 230);
  --color-magenta-b31aff: rgb(179, 26, 255);
  --color-rust-b33300: rgb(179, 51, 0);
  --color-crimson-b3331a: rgb(179, 51, 26);
  --color-brown-b33333: rgb(179, 51, 51);
  --color-brown-b3334d: rgb(179, 51, 77);
  --color-ruby-b33366: rgb(179, 51, 102);
  --color-hotpink-b33380: rgb(179, 51, 128);
  --color-purple-b33399: rgb(179, 51, 153);
  --color-purple-b333b3: rgb(179, 51, 179);
  --color-purple-b333cc: rgb(179, 51, 204);
  --color-magenta-b333e6: rgb(179, 51, 230);
  --color-magenta-b333ff: rgb(179, 51, 255);
  --color-rust-b34d00: rgb(179, 77, 0);
  --color-rust-b34d1a: rgb(179, 77, 26);
  --color-sienna-b34d33: rgb(179, 77, 51);
  --color-brown-b34d4d: rgb(179, 77, 77);
  --color-wine-b34d66: rgb(179, 77, 102);
  --color-hotpink-b34d80: rgb(179, 77, 128);
  --color-orchid-b34d99: rgb(179, 77, 153);
  --color-orchid-b34db3: rgb(179, 77, 179);
  --color-orchid-b34dcc: rgb(179, 77, 204);
  --color-orchid-b34de6: rgb(179, 77, 230);
  --color-magenta-b34dff: rgb(179, 77, 255);
  --color-bronze-b36600: rgb(179, 102, 0);
  --color-copper-b3661a: rgb(179, 102, 26);
  --color-copper-b36633: rgb(179, 102, 51);
  --color-sienna-b3664d: rgb(179, 102, 77);
  --color-sienna-b36666: rgb(179, 102, 102);
  --color-lilac-b36680: rgb(179, 102, 128);
  --color-plum-b36699: rgb(179, 102, 153);
  --color-orchid-b366b3: rgb(179, 102, 179);
  --color-orchid-b366cc: rgb(179, 102, 204);
  --color-orchid-b366e6: rgb(179, 102, 230);
  --color-violet-b366ff: rgb(179, 102, 255);
  --color-caramel-b38000: rgb(179, 128, 0);
  --color-caramel-b3801a: rgb(179, 128, 26);
  --color-copper-b38033: rgb(179, 128, 51);
  --color-copper-b3804d: rgb(179, 128, 77);
  --color-taupe-b38066: rgb(179, 128, 102);
  --color-taupe-b38080: rgb(179, 128, 128);
  --color-lilac-b38099: rgb(179, 128, 153);
  --color-plum-b380b3: rgb(179, 128, 179);
  --color-plum-b380cc: rgb(179, 128, 204);
  --color-orchid-b380e6: rgb(179, 128, 230);
  --color-violet-b380ff: rgb(179, 128, 255);
  --color-olive-b39900: rgb(179, 153, 0);
  --color-olive-b3991a: rgb(179, 153, 26);
  --color-olive-b39933: rgb(179, 153, 51);
  --color-sand-b3994d: rgb(179, 153, 77);
  --color-sand-b39966: rgb(179, 153, 102);
  --color-ecru-b39980: rgb(179, 153, 128);
  --color-taupe-b39999: rgb(179, 153, 153);
  --color-lilac-b399b3: rgb(179, 153, 179);
  --color-lilac-b399cc: rgb(179, 153, 204);
  --color-plum-b399e6: rgb(179, 153, 230);
  --color-plum-b399ff: rgb(179, 153, 255);
  --color-yellow-green-b3b300: rgb(179, 179, 0);
  --color-olive-b3b31a: rgb(179, 179, 26);
  --color-olive-b3b333: rgb(179, 179, 51);
  --color-buff-b3b34d: rgb(179, 179, 77);
  --color-sand-b3b366: rgb(179, 179, 102);
  --color-sand-b3b380: rgb(179, 179, 128);
  --color-ecru-b3b399: rgb(179, 179, 153);
  --color-silver-b3b3b3: rgb(179, 179, 179);
  --color-silver-b3b3cc: rgb(179, 179, 204);
  --color-periwinkle-b3b3e6: rgb(179, 179, 230);
  --color-periwinkle-b3b3ff: rgb(179, 179, 255);
  --color-yellow-green-b3cc00: rgb(179, 204, 0);
  --color-yellow-green-b3cc1a: rgb(179, 204, 26);
  --color-yellow-green-b3cc33: rgb(179, 204, 51);
  --color-yellow-green-b3cc4d: rgb(179, 204, 77);
  --color-khaki-b3cc66: rgb(179, 204, 102);
  --color-sage-b3cc80: rgb(179, 204, 128);
  --color-sage-b3cc99: rgb(179, 204, 153);
  --color-ash-b3ccb3: rgb(179, 204, 179);
  --color-ash-b3cccc: rgb(179, 204, 204);
  --color-sky-blue-b3cce6: rgb(179, 204, 230);
  --color-periwinkle-b3ccff: rgb(179, 204, 255);
  --color-yellow-green-b3e600: rgb(179, 230, 0);
  --color-yellow-green-b3e61a: rgb(179, 230, 26);
  --color-yellow-green-b3e633: rgb(179, 230, 51);
  --color-yellow-green-b3e64d: rgb(179, 230, 77);
  --color-yellow-green-b3e666: rgb(179, 230, 102);
  --color-mint-b3e680: rgb(179, 230, 128);
  --color-mint-b3e699: rgb(179, 230, 153);
  --color-sage-b3e6b3: rgb(179, 230, 179);
  --color-powder-blue-b3e6cc: rgb(179, 230, 204);
  --color-powder-blue-b3e6e6: rgb(179, 230, 230);
  --color-powder-blue-b3e6ff: rgb(179, 230, 255);
  --color-chartreuse-b3ff00: rgb(179, 255, 0);
  --color-chartreuse-b3ff1a: rgb(179, 255, 26);
  --color-chartreuse-b3ff33: rgb(179, 255, 51);
  --color-yellow-green-b3ff4d: rgb(179, 255, 77);
  --color-yellow-green-b3ff66: rgb(179, 255, 102);
  --color-mint-b3ff80: rgb(179, 255, 128);
  --color-mint-b3ff99: rgb(179, 255, 153);
  --color-mint-b3ffb3: rgb(179, 255, 179);
  --color-turquoise-b3ffcc: rgb(179, 255, 204);
  --color-powder-blue-b3ffe6: rgb(179, 255, 230);
  --color-powder-blue-b3ffff: rgb(179, 255, 255);
  --color-scarlet-cc0000: rgb(204, 0, 0);
  --color-crimson-cc001a: rgb(204, 0, 26);
  --color-crimson-cc0033: rgb(204, 0, 51);
  --color-ruby-cc004d: rgb(204, 0, 77);
  --color-ruby-cc0066: rgb(204, 0, 102);
  --color-rose-cc0080: rgb(204, 0, 128);
  --color-purple-cc0099: rgb(204, 0, 153);
  --color-purple-cc00b3: rgb(204, 0, 179);
  --color-magenta-cc00cc: rgb(204, 0, 204);
  --color-magenta-cc00e6: rgb(204, 0, 230);
  --color-magenta-cc00ff: rgb(204, 0, 255);
  --color-mahogany-cc1a00: rgb(204, 26, 0);
  --color-crimson-cc1a1a: rgb(204, 26, 26);
  --color-crimson-cc1a33: rgb(204, 26, 51);
  --color-ruby-cc1a4d: rgb(204, 26, 77);
  --color-ruby-cc1a66: rgb(204, 26, 102);
  --color-hotpink-cc1a80: rgb(204, 26, 128);
  --color-hotpink-cc1a99: rgb(204, 26, 153);
  --color-purple-cc1ab3: rgb(204, 26, 179);
  --color-magenta-cc1acc: rgb(204, 26, 204);
  --color-magenta-cc1ae6: rgb(204, 26, 230);
  --color-magenta-cc1aff: rgb(204, 26, 255);
  --color-mahogany-cc3300: rgb(204, 51, 0);
  --color-mahogany-cc331a: rgb(204, 51, 26);
  --color-crimson-cc3333: rgb(204, 51, 51);
  --color-crimson-cc334d: rgb(204, 51, 77);
  --color-ruby-cc3366: rgb(204, 51, 102);
  --color-hotpink-cc3380: rgb(204, 51, 128);
  --color-hotpink-cc3399: rgb(204, 51, 153);
  --color-orchid-cc33b3: rgb(204, 51, 179);
  --color-orchid-cc33cc: rgb(204, 51, 204);
  --color-magenta-cc33e6: rgb(204, 51, 230);
  --color-magenta-cc33ff: rgb(204, 51, 255);
  --color-mahogany-cc4d00: rgb(204, 77, 0);
  --color-mahogany-cc4d1a: rgb(204, 77, 26);
  --color-rust-cc4d33: rgb(204, 77, 51);
  --color-brown-cc4d4d: rgb(204, 77, 77);
  --color-ruby-cc4d66: rgb(204, 77, 102);
  --color-hotpink-cc4d80: rgb(204, 77, 128);
  --color-hotpink-cc4d99: rgb(204, 77, 153);
  --color-orchid-cc4db3: rgb(204, 77, 179);
  --color-orchid-cc4dcc: rgb(204, 77, 204);
  --color-orchid-cc4de6: rgb(204, 77, 230);
  --color-magenta-cc4dff: rgb(204, 77, 255);
  --color-chocolate-cc6600: rgb(204, 102, 0);
  --color-chocolate-cc661a: rgb(204, 102, 26);
  --color-chocolate-cc6633: rgb(204, 102, 51);
  --color-terracotta-cc664d: rgb(204, 102, 77);
  --color-terracotta-cc6666: rgb(204, 102, 102);
  --color-salmon-cc6680: rgb(204, 102, 128);
  --color-hotpink-cc6699: rgb(204, 102, 153);
  --color-orchid-cc66b3: rgb(204, 102, 179);
  --color-orchid-cc66cc: rgb(204, 102, 204);
  --color-orchid-cc66e6: rgb(204, 102, 230);
  --color-violet-cc66ff: rgb(204, 102, 255);
  --color-bronze-cc8000: rgb(204, 128, 0);
  --color-bronze-cc801a: rgb(204, 128, 26);
  --color-caramel-cc8033: rgb(204, 128, 51);
  --color-copper-cc804d: rgb(204, 128, 77);
  --color-terracotta-cc8066: rgb(204, 128, 102);
  --color-salmon-cc8080: rgb(204, 128, 128);
  --color-mauve-cc8099: rgb(204, 128, 153);
  --color-plum-cc80b3: rgb(204, 128, 179);
  --color-plum-cc80cc: rgb(204, 128, 204);
  --color-orchid-cc80e6: rgb(204, 128, 230);
  --color-violet-cc80ff: rgb(204, 128, 255);
  --color-amber-cc9900: rgb(204, 153, 0);
  --color-caramel-cc991a: rgb(204, 153, 26);
  --color-caramel-cc9933: rgb(204, 153, 51);
  --color-tan-cc994d: rgb(204, 153, 77);
  --color-tan-cc9966: rgb(204, 153, 102);
  --color-ecru-cc9980: rgb(204, 153, 128);
  --color-pink-cc9999: rgb(204, 153, 153);
  --color-mauve-cc99b3: rgb(204, 153, 179);
  --color-plum-cc99cc: rgb(204, 153, 204);
  --color-plum-cc99e6: rgb(204, 153, 230);
  --color-violet-cc99ff: rgb(204, 153, 255);
  --color-mustard-ccb300: rgb(204, 179, 0);
  --color-mustard-ccb31a: rgb(204, 179, 26);
  --color-mustard-ccb333: rgb(204, 179, 51);
  --color-buff-ccb34d: rgb(204, 179, 77);
  --color-sand-ccb366: rgb(204, 179, 102);
  --color-sand-ccb380: rgb(204, 179, 128);
  --color-ecru-ccb399: rgb(204, 179, 153);
  --color-silver-ccb3b3: rgb(204, 179, 179);
  --color-mauve-ccb3cc: rgb(204, 179, 204);
  --color-lilac-ccb3e6: rgb(204, 179, 230);
  --color-plum-ccb3ff: rgb(204, 179, 255);
  --color-gold-cccc00: rgb(204, 204, 0);
  --color-gold-cccc1a: rgb(204, 204, 26);
  --color-mustard-cccc33: rgb(204, 204, 51);
  --color-mustard-cccc4d: rgb(204, 204, 77);
  --color-buff-cccc66: rgb(204, 204, 102);
  --color-khaki-cccc80: rgb(204, 204, 128);
  --color-sage-cccc99: rgb(204, 204, 153);
  --color-bone-ccccb3: rgb(204, 204, 179);
  --color-silver-cccccc: rgb(204, 204, 204);
  --color-lavender-cccce6: rgb(204, 204, 230);
  --color-periwinkle-ccccff: rgb(204, 204, 255);
  --color-yellow-cce600: rgb(204, 230, 0);
  --color-yellow-cce61a: rgb(204, 230, 26);
  --color-yellow-green-cce633: rgb(204, 230, 51);
  --color-yellow-green-cce64d: rgb(204, 230, 77);
  --color-yellow-green-cce666: rgb(204, 230, 102);
  --color-khaki-cce680: rgb(204, 230, 128);
  --color-khaki-cce699: rgb(204, 230, 153);
  --color-sage-cce6b3: rgb(204, 230, 179);
  --color-beige-cce6cc: rgb(204, 230, 204);
  --color-ice-blue-cce6e6: rgb(204, 230, 230);
  --color-lavender-cce6ff: rgb(204, 230, 255);
  --color-yellow-ccff00: rgb(204, 255, 0);
  --color-yellow-ccff1a: rgb(204, 255, 26);
  --color-yellow-ccff33: rgb(204, 255, 51);
  --color-yellow-green-ccff4d: rgb(204, 255, 77);
  --color-yellow-green-ccff66: rgb(204, 255, 102);
  --color-mint-ccff80: rgb(204, 255, 128);
  --color-mint-ccff99: rgb(204, 255, 153);
  --color-mint-ccffb3: rgb(204, 255, 179);
  --color-cream-ccffcc: rgb(204, 255, 204);
  --color-beige-ccffe6: rgb(204, 255, 230);
  --color-powder-blue-ccffff: rgb(204, 255, 255);
  --color-scarlet-e60000: rgb(230, 0, 0);
  --color-scarlet-e6001a: rgb(230, 0, 26);
  --color-crimson-e60033: rgb(230, 0, 51);
  --color-crimson-e6004d: rgb(230, 0, 77);
  --color-ruby-e60066: rgb(230, 0, 102);
  --color-rose-e60080: rgb(230, 0, 128);
  --color-rose-e60099: rgb(230, 0, 153);
  --color-orchid-e600b3: rgb(230, 0, 179);
  --color-magenta-e600cc: rgb(230, 0, 204);
  --color-magenta-e600e6: rgb(230, 0, 230);
  --color-magenta-e600ff: rgb(230, 0, 255);
  --color-scarlet-e61a00: rgb(230, 26, 0);
  --color-scarlet-e61a1a: rgb(230, 26, 26);
  --color-crimson-e61a33: rgb(230, 26, 51);
  --color-crimson-e61a4d: rgb(230, 26, 77);
  --color-ruby-e61a66: rgb(230, 26, 102);
  --color-rose-e61a80: rgb(230, 26, 128);
  --color-hotpink-e61a99: rgb(230, 26, 153);
  --color-orchid-e61ab3: rgb(230, 26, 179);
  --color-magenta-e61acc: rgb(230, 26, 204);
  --color-magenta-e61ae6: rgb(230, 26, 230);
  --color-magenta-e61aff: rgb(230, 26, 255);
  --color-scarlet-e63300: rgb(230, 51, 0);
  --color-scarlet-e6331a: rgb(230, 51, 26);
  --color-crimson-e63333: rgb(230, 51, 51);
  --color-crimson-e6334d: rgb(230, 51, 77);
  --color-ruby-e63366: rgb(230, 51, 102);
  --color-rose-e63380: rgb(230, 51, 128);
  --color-hotpink-e63399: rgb(230, 51, 153);
  --color-hotpink-e633b3: rgb(230, 51, 179);
  --color-orchid-e633cc: rgb(230, 51, 204);
  --color-magenta-e633e6: rgb(230, 51, 230);
  --color-magenta-e633ff: rgb(230, 51, 255);
  --color-mahogany-e64d00: rgb(230, 77, 0);
  --color-mahogany-e64d1a: rgb(230, 77, 26);
  --color-mahogany-e64d33: rgb(230, 77, 51);
  --color-crimson-e64d4d: rgb(230, 77, 77);
  --color-ruby-e64d66: rgb(230, 77, 102);
  --color-ruby-e64d80: rgb(230, 77, 128);
  --color-hotpink-e64d99: rgb(230, 77, 153);
  --color-hotpink-e64db3: rgb(230, 77, 179);
  --color-orchid-e64dcc: rgb(230, 77, 204);
  --color-violet-e64de6: rgb(230, 77, 230);
  --color-magenta-e64dff: rgb(230, 77, 255);
  --color-orange-e66600: rgb(230, 102, 0);
  --color-chocolate-e6661a: rgb(230, 102, 26);
  --color-coral-e66633: rgb(230, 102, 51);
  --color-terracotta-e6664d: rgb(230, 102, 77);
  --color-salmon-e66666: rgb(230, 102, 102);
  --color-salmon-e66680: rgb(230, 102, 128);
  --color-hotpink-e66699: rgb(230, 102, 153);
  --color-hotpink-e666b3: rgb(230, 102, 179);
  --color-orchid-e666cc: rgb(230, 102, 204);
  --color-violet-e666e6: rgb(230, 102, 230);
  --color-violet-e666ff: rgb(230, 102, 255);
  --color-orange-e68000: rgb(230, 128, 0);
  --color-chocolate-e6801a: rgb(230, 128, 26);
  --color-chocolate-e68033: rgb(230, 128, 51);
  --color-coral-e6804d: rgb(230, 128, 77);
  --color-terracotta-e68066: rgb(230, 128, 102);
  --color-salmon-e68080: rgb(230, 128, 128);
  --color-salmon-e68099: rgb(230, 128, 153);
  --color-hotpink-e680b3: rgb(230, 128, 179);
  --color-orchid-e680cc: rgb(230, 128, 204);
  --color-violet-e680e6: rgb(230, 128, 230);
  --color-violet-e680ff: rgb(230, 128, 255);
  --color-orange-e69900: rgb(230, 153, 0);
  --color-orange-e6991a: rgb(230, 153, 26);
  --color-caramel-e69933: rgb(230, 153, 51);
  --color-tan-e6994d: rgb(230, 153, 77);
  --color-tan-e69966: rgb(230, 153, 102);
  --color-terracotta-e69980: rgb(230, 153, 128);
  --color-pink-e69999: rgb(230, 153, 153);
  --color-mauve-e699b3: rgb(230, 153, 179);
  --color-plum-e699cc: rgb(230, 153, 204);
  --color-plum-e699e6: rgb(230, 153, 230);
  --color-violet-e699ff: rgb(230, 153, 255);
  --color-amber-e6b300: rgb(230, 179, 0);
  --color-amber-e6b31a: rgb(230, 179, 26);
  --color-mustard-e6b333: rgb(230, 179, 51);
  --color-mustard-e6b34d: rgb(230, 179, 77);
  --color-tan-e6b366: rgb(230, 179, 102);
  --color-sand-e6b380: rgb(230, 179, 128);
  --color-apricot-e6b399: rgb(230, 179, 153);
  --color-pink-e6b3b3: rgb(230, 179, 179);
  --color-mauve-e6b3cc: rgb(230, 179, 204);
  --color-plum-e6b3e6: rgb(230, 179, 230);
  --color-plum-e6b3ff: rgb(230, 179, 255);
  --color-gold-e6cc00: rgb(230, 204, 0);
  --color-gold-e6cc1a: rgb(230, 204, 26);
  --color-mustard-e6cc33: rgb(230, 204, 51);
  --color-mustard-e6cc4d: rgb(230, 204, 77);
  --color-buff-e6cc66: rgb(230, 204, 102);
  --color-buff-e6cc80: rgb(230, 204, 128);
  --color-sand-e6cc99: rgb(230, 204, 153);
  --color-peach-e6ccb3: rgb(230, 204, 179);
  --color-bone-e6cccc: rgb(230, 204, 204);
  --color-lavender-e6cce6: rgb(230, 204, 230);
  --color-periwinkle-e6ccff: rgb(230, 204, 255);
  --color-lemon-e6e600: rgb(230, 230, 0);
  --color-lemon-e6e61a: rgb(230, 230, 26);
  --color-lemon-e6e633: rgb(230, 230, 51);
  --color-mustard-e6e64d: rgb(230, 230, 77);
  --color-mustard-e6e666: rgb(230, 230, 102);
  --color-khaki-e6e680: rgb(230, 230, 128);
  --color-khaki-e6e699: rgb(230, 230, 153);
  --color-champagne-e6e6b3: rgb(230, 230, 179);
  --color-beige-e6e6cc: rgb(230, 230, 204);
  --color-linen-e6e6e6: rgb(230, 230, 230);
  --color-lavender-e6e6ff: rgb(230, 230, 255);
  --color-yellow-e6ff00: rgb(230, 255, 0);
  --color-yellow-e6ff1a: rgb(230, 255, 26);
  --color-yellow-e6ff33: rgb(230, 255, 51);
  --color-yellow-e6ff4d: rgb(230, 255, 77);
  --color-yellow-green-e6ff66: rgb(230, 255, 102);
  --color-khaki-e6ff80: rgb(230, 255, 128);
  --color-khaki-e6ff99: rgb(230, 255, 153);
  --color-khaki-e6ffb3: rgb(230, 255, 179);
  --color-cream-e6ffcc: rgb(230, 255, 204);
  --color-beige-e6ffe6: rgb(230, 255, 230);
  --color-ice-blue-e6ffff: rgb(230, 255, 255);
  --color-red-ff0000: rgb(255, 0, 0);
  --color-red-ff001a: rgb(255, 0, 26);
  --color-crimson-ff0033: rgb(255, 0, 51);
  --color-crimson-ff004d: rgb(255, 0, 77);
  --color-ruby-ff0066: rgb(255, 0, 102);
  --color-rose-ff0080: rgb(255, 0, 128);
  --color-rose-ff0099: rgb(255, 0, 153);
  --color-rose-ff00b3: rgb(255, 0, 179);
  --color-magenta-ff00cc: rgb(255, 0, 204);
  --color-magenta-ff00e6: rgb(255, 0, 230);
  --color-magenta-ff00ff: rgb(255, 0, 255);
  --color-scarlet-ff1a00: rgb(255, 26, 0);
  --color-red-ff1a1a: rgb(255, 26, 26);
  --color-crimson-ff1a33: rgb(255, 26, 51);
  --color-crimson-ff1a4d: rgb(255, 26, 77);
  --color-ruby-ff1a66: rgb(255, 26, 102);
  --color-rose-ff1a80: rgb(255, 26, 128);
  --color-rose-ff1a99: rgb(255, 26, 153);
  --color-rose-ff1ab3: rgb(255, 26, 179);
  --color-magenta-ff1acc: rgb(255, 26, 204);
  --color-magenta-ff1ae6: rgb(255, 26, 230);
  --color-magenta-ff1aff: rgb(255, 26, 255);
  --color-scarlet-ff3300: rgb(255, 51, 0);
  --color-scarlet-ff331a: rgb(255, 51, 26);
  --color-scarlet-ff3333: rgb(255, 51, 51);
  --color-crimson-ff334d: rgb(255, 51, 77);
  --color-ruby-ff3366: rgb(255, 51, 102);
  --color-rose-ff3380: rgb(255, 51, 128);
  --color-rose-ff3399: rgb(255, 51, 153);
  --color-hotpink-ff33b3: rgb(255, 51, 179);
  --color-orchid-ff33cc: rgb(255, 51, 204);
  --color-magenta-ff33e6: rgb(255, 51, 230);
  --color-magenta-ff33ff: rgb(255, 51, 255);
  --color-scarlet-ff4d00: rgb(255, 77, 0);
  --color-scarlet-ff4d1a: rgb(255, 77, 26);
  --color-scarlet-ff4d33: rgb(255, 77, 51);
  --color-crimson-ff4d4d: rgb(255, 77, 77);
  --color-crimson-ff4d66: rgb(255, 77, 102);
  --color-ruby-ff4d80: rgb(255, 77, 128);
  --color-hotpink-ff4d99: rgb(255, 77, 153);
  --color-hotpink-ff4db3: rgb(255, 77, 179);
  --color-hotpink-ff4dcc: rgb(255, 77, 204);
  --color-magenta-ff4de6: rgb(255, 77, 230);
  --color-magenta-ff4dff: rgb(255, 77, 255);
  --color-orange-ff6600: rgb(255, 102, 0);
  --color-orange-ff661a: rgb(255, 102, 26);
  --color-coral-ff6633: rgb(255, 102, 51);
  --color-coral-ff664d: rgb(255, 102, 77);
  --color-salmon-ff6666: rgb(255, 102, 102);
  --color-salmon-ff6680: rgb(255, 102, 128);
  --color-hotpink-ff6699: rgb(255, 102, 153);
  --color-hotpink-ff66b3: rgb(255, 102, 179);
  --color-hotpink-ff66cc: rgb(255, 102, 204);
  --color-violet-ff66e6: rgb(255, 102, 230);
  --color-violet-ff66ff: rgb(255, 102, 255);
  --color-orange-ff8000: rgb(255, 128, 0);
  --color-orange-ff801a: rgb(255, 128, 26);
  --color-orange-ff8033: rgb(255, 128, 51);
  --color-coral-ff804d: rgb(255, 128, 77);
  --color-salmon-ff8066: rgb(255, 128, 102);
  --color-salmon-ff8080: rgb(255, 128, 128);
  --color-salmon-ff8099: rgb(255, 128, 153);
  --color-hotpink-ff80b3: rgb(255, 128, 179);
  --color-hotpink-ff80cc: rgb(255, 128, 204);
  --color-violet-ff80e6: rgb(255, 128, 230);
  --color-violet-ff80ff: rgb(255, 128, 255);
  --color-orange-ff9900: rgb(255, 153, 0);
  --color-orange-ff991a: rgb(255, 153, 26);
  --color-orange-ff9933: rgb(255, 153, 51);
  --color-bronze-ff994d: rgb(255, 153, 77);
  --color-coral-ff9966: rgb(255, 153, 102);
  --color-salmon-ff9980: rgb(255, 153, 128);
  --color-salmon-ff9999: rgb(255, 153, 153);
  --color-pink-ff99b3: rgb(255, 153, 179);
  --color-plum-ff99cc: rgb(255, 153, 204);
  --color-plum-ff99e6: rgb(255, 153, 230);
  --color-violet-ff99ff: rgb(255, 153, 255);
  --color-amber-ffb300: rgb(255, 179, 0);
  --color-orange-ffb31a: rgb(255, 179, 26);
  --color-orange-ffb333: rgb(255, 179, 51);
  --color-orange-ffb34d: rgb(255, 179, 77);
  --color-tan-ffb366: rgb(255, 179, 102);
  --color-tan-ffb380: rgb(255, 179, 128);
  --color-apricot-ffb399: rgb(255, 179, 153);
  --color-pink-ffb3b3: rgb(255, 179, 179);
  --color-pink-ffb3cc: rgb(255, 179, 204);
  --color-plum-ffb3e6: rgb(255, 179, 230);
  --color-plum-ffb3ff: rgb(255, 179, 255);
  --color-gold-ffcc00: rgb(255, 204, 0);
  --color-amber-ffcc1a: rgb(255, 204, 26);
  --color-amber-ffcc33: rgb(255, 204, 51);
  --color-mustard-ffcc4d: rgb(255, 204, 77);
  --color-mustard-ffcc66: rgb(255, 204, 102);
  --color-buff-ffcc80: rgb(255, 204, 128);
  --color-apricot-ffcc99: rgb(255, 204, 153);
  --color-apricot-ffccb3: rgb(255, 204, 179);
  --color-pink-ffcccc: rgb(255, 204, 204);
  --color-pink-ffcce6: rgb(255, 204, 230);
  --color-mauve-ffccff: rgb(255, 204, 255);
  --color-gold-ffe600: rgb(255, 230, 0);
  --color-gold-ffe61a: rgb(255, 230, 26);
  --color-gold-ffe633: rgb(255, 230, 51);
  --color-mustard-ffe64d: rgb(255, 230, 77);
  --color-mustard-ffe666: rgb(255, 230, 102);
  --color-buff-ffe680: rgb(255, 230, 128);
  --color-buff-ffe699: rgb(255, 230, 153);
  --color-champagne-ffe6b3: rgb(255, 230, 179);
  --color-peach-ffe6cc: rgb(255, 230, 204);
  --color-linen-ffe6e6: rgb(255, 230, 230);
  --color-lavender-ffe6ff: rgb(255, 230, 255);
  --color-yellow-ffff00: rgb(255, 255, 0);
  --color-yellow-ffff1a: rgb(255, 255, 26);
  --color-lemon-ffff33: rgb(255, 255, 51);
  --color-lemon-ffff4d: rgb(255, 255, 77);
  --color-mustard-ffff66: rgb(255, 255, 102);
  --color-khaki-ffff80: rgb(255, 255, 128);
  --color-khaki-ffff99: rgb(255, 255, 153);
  --color-khaki-ffffb3: rgb(255, 255, 179);
  --color-cream-ffffcc: rgb(255, 255, 204);
  --color-beige-ffffe6: rgb(255, 255, 230);
  --color-white-ffffff: rgb(255, 255, 255);
}
